body {
    padding-top: 50px;
    background: url('../img/sample.jpg') no-repeat fixed center;
    font-family: acme;
  }




.cards-bkg img{
  width: 100%;
}
.cards-bkg img:hover {
  opacity: .5;
  cursor: pointer;
}


/* styles for comments */
.comments{
  margin-top: 30px;
}
.comments h2{
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
}
.comments p{
  margin-top: 35px;
}
.msg{
  margin-top: 5px;
}
.msg a img {
  width: 75px;
}
.msg div .comment{
  color: #1c130c;
  text-align: justify !important;
}
.msg div h5{
  color: #1c130c;
}
.msg div small i{
  font-size: 14px;
}


/* image upload */
.img-upload img a{
  width: 500px;
  height: 500px;
}


/* styles for login */
.login{
  margin-top: 120px;
  padding-bottom: 28px;
  border: 1px solid gray;
  border-radius: 6px;
  background: rgb(230,230,230);
  box-shadow: 12px 12px 8px gray;
}
.login:hover {
  background: rgb(215,215,215);
}
.login h2{
  width: 100%;
  text-align: center;
  background: ""
}

/* styles for forms */
.form-height{
  height: 75px;
  margin-bottom: 5px;
}
.alert{
  color: #d1000d;
  font-weight: bold;
  font-size: 9px;
  padding-left: 5px;
}

.btn-gap{
  margin-bottom: 15px;
}


/* styles for login form */

.login form .btn-setter{
  width: 100%;
  height: 34px;
}
.login form .btn-setter .btn-one{
  width: 28%;
  float: left;
}
.login form .btn-setter .mes{
  width: 44%;
  float: left;
}
.login form .btn-setter .mes p{
  width: 100%;
  height: 34px;
  font-size: 10px;
  font-weight: bold;
  color: rgb(70,70,70);
  line-height: 34px;
  text-align: center;
  color: coral;
  text-shadow: 1px 1px rgb(50,50,50);
}
.login form .btn-setter .btn-two{
  width: 28%;
  float: right;
}

/* logout form styles */
.logout .page-display div div img {
  width: 100%;
}

.menu {
  width: 100%;
  margin-bottom: 8px;
}
.menu a {
  width: 100%;
  background: #4e7587 !important;
  border: 1px solid #2997ad;
}
.menu a:hover {
  background: #255a72 !important;
}
.text-head{
  width: 100%;
  color: #e8f2f7 !important;
  font-weight: bold;
  text-align: center;
  background: #255a72 !important;
}
.body-text-content{
  text-align: justify;
}
.name-header{
  font-size: 15px !important;
  color: #ff9696 !important;
}
.name-message{
  font-size: 15px !important;
  color: #ff4444 !important;
}
.my-name{
  font-size: 15px !important;
  color: #255a72 !important;
  font-weight: bold;
}

/* /////////////////////////////// */
 .display-background {
  height: 520px;
}


/* /////////////////////////////////// */
.comments .cards-bkg {
  padding: 0 !important;
  margin: 0 !important;
}




/* styles for comments form */

.comments .cards-bkg h3{
  margin: 0 0 5px 0 !important;
}
.comments .cards-bkg img{
  margin: 0 !important;
}
.comments .cards-bkg p{
  margin: 8px 0 5px 0  !important;
}



.para-borar{
  margin-left: 10px !important;
}


.btn-post-comment{
  margin-top: 15px;
}

.post-paragraph p{
  margin: 0 !important;
  padding: 0 !important;
  display: inline !important;
}

.strong-title{
  background: aqua;
}

.small-text{
  font-size: 10px;
  height: 10px !important;
  float: right !important;
  margin: 0 !important;
  line-height: 10px !important;
}

